.box {
  width: 100%;
  height: 100%;
  padding: 50px;
  background: linear-gradient(90deg, #6eda78, #e4d466, #ffa200);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid #555;
  padding: 30px;
  width: 80%;
  border-radius: 8px;

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    font-weight: 600;
  }

  input,
  select {
    padding: 8px;
    border: 1px solid #777;
    border-radius: 4px;
  }
}

.idGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;

  input {
    text-align: center;
  }
}

.radioRow {
  display: flex;
  gap: 20px;

  label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.titleRow {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    font-weight: 600;
  }

  input,
  select {
    width: 120px;
    height: 100px;
    padding: 8px;
    border: 1px solid #777;
    border-radius: 4px;
  }
}

.phoneRow {
  display: flex;
  flex:1;
  gap: 10px;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;

  button {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.clear {
  background: #ccc;
}

.submit {
  background: #1e78ff;
  color: white;
}

.fullWidth {
  width: 100%;
}